<!DOCTYPE html>
<head>
  <title>APIs_methods</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/apimethods.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="{{url_for('header_js')}}"></script>
  <script src="{{url_for('main_js')}}" defer></script>
</head>

<body id="body_api_meth">
  <header-component></header-component>
  <div id="api_meth">
    APIs-Methods
  </div>
  <a href="{{url_for('apis')}}">
    <rect id="rect_intro_api"></rect>
    <div id="intro">Introduction</div><br>
  </a>

  <a href="{{url_for('api_meth')}}">
    <rect id="rect_methods_api"></rect>
    <div id="meth">Methods</div><br>
  </a>

  <a href="{{url_for('api_obj')}}">
    <rect id="rect_objects_api"></rect>
    <div id="obj">Objects</div><br>
  </a>
  <rect id = "dabba_list">
    <div id = "l1">
      1.Post-get
    </div>
    <div id = "l2">
      2.Account-get
    </div>
    <div id = "l3">
      3.Institution-get
    </div>
    <div id = "l4">
      4.Tag-get
    </div>
    <div id = "l5">
      5.Comment-get
    </div>
    <div id = "l6">
      6.Account_Username
    </div>
    <div id = "l7">
      7.Institution_Name
    </div>
    <div id = "l8">
      8.Tag_Name
    </div>
  </rect>
  <rect id="dabba">
      <div id = "m1">
        Post.get:
      </div>
      <div id = "arg1">
        Arguments: Id.Post_id
      </div>
      <div id = "ret1">
        Returns: Post
      </div>
      <div id = "m2">
        Account.get:
      </div>
      <div id = "arg2">
        Arguments: Id.Post_id
      </div>
      <div id = "ret2">
        Returns: Post
      </div>

      <div id = "m3">
        Institution.get:
      </div>
      <div id = "arg3">
        Arguments: Id.Post_id
      </div>
      <div id = "ret3">
        Returns: Post
      </div>

      <div id = "m4">
        Tag.get:
      </div>
      <div id = "arg4">
        Arguments: Id.Post_id
      </div>
      <div id = "ret4">
        Returns: Post
      </div>

      <div id = "m5">
        Comment.get:
      </div>
      <div id = "arg5">
        Arguments: Id.Post_id
      </div>
      <div id = "ret5">
        Returns: Post
      </div>

      <div id = "m6">
        Account_Username.get:
      </div>
      <div id = "arg6">
        Arguments: Id.Post_id
      </div>
      <div id = "ret6">
        Returns: Post
      </div>

      <div id = "m7">
        Institution_Name.get:
      </div>
      <div id = "arg7">
        Arguments: Id.Post_id
      </div>
      <div id = "ret7">
        Returns: Post
      </div>

      <div id = "m8">
        Tag_Name.get:
      </div>
      <div id = "arg8">
        Arguments: Id.Post_id
      </div>
      <div id = "ret8">
        Returns: Post
      </div>

  </rect>
  </body>
</html>