<!DOCTYPE html>
<head>
  <title>APIs_objects</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/apiobj.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="{{url_for('header_js',user=user)}}"></script>
  <script src="{{url_for('main_js')}}" defer></script>
</head>

<body id="body_api_obj">
  <header-component></header-component>
  <div id="api_obj">
    APIs-Objects
  </div>
  <a href="{{url_for('apis')}}">
    <rect id="rect_intro_api"></rect>
    <div id="intro">Introduction</div><br>
  </a>

  <a href="{{url_for('api_meth')}}">
    <rect id="rect_methods_api"></rect>
    <div id="meth">Methods</div><br>
  </a>

  <a href="{{url_for('api_obj')}}">
    <rect id="rect_objects_api"></rect>
    <div id="obj">Objects</div><br>
  </a>
  <rect id = "dabba_list_obj">
    <div id = "l1">
      1.Post
    </div>
    <div id = "l2">
      2.Account
    </div>
    <div id = "l3">
      3.Institution
    </div>
    <div id = "l4">
      4 Comment
    </div>
    <div id = "l5">
      5. Tag
    </div>
  </rect>
  <rect id="dabba_obj">
      <div id = "m1">
        1. Post:
      </div>
      <div id = "arg1">
        Returns object of the type Post
      </div>
      <div id = "ret1">
        which contains all desired information regarding Post
      </div>
      <div id = "m2">
        2. Account:
      </div>
      <div id = "arg2">
        Returns object of the type Account
      </div>
      <div id = "ret2">
        which contains all desired information regarding Account
      </div>

      <div id = "m3">
        3. Institution:
      </div>
      <div id = "arg3">
        Returns object of the type Institution
      </div>
      <div id = "ret3">
        which contains all desired information regarding Institution
      </div>

      <div id = "m4">
        4. Comment:
      </div>
      <div id = "arg4">
        Returns object of the type Comment
      </div>
      <div id = "ret4">
        which contains all desired information regarding Comment
      </div>

      <div id = "m5">
        5. Tag:
      </div>
      <div id = "arg5">
        Returns object of the type Tag
      </div>
      <div id = "ret5">
        which contains all desired information regarding Tag
      </div>
  </rect>
  </body>
</html>