<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/createpost.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="{{url_for('header_js')}}"></script>
    <script src="{{url_for('home_js')}}"></script>
    <script src="{{url_for('main_js')}}" defer></script>
</head>

<body id="body_home">
    <header-component></header-component>
    <nav id="nav_border">
        <div class="dropdown-menu">
            <button class="menu-btn" , id="drop_butt">
                | | |
            </button>

            <form><input id="rect_search_mobile" placeholder="Search People, Institutions"></input></form>
            <div id="search_result_rect_mobile" class="search_rect pop_up">
                <div id="search_result_entry_mobile"></div>
            </div>

            <a href="{{url_for('loader3')}}">
                <img src="{{url_for('static',filename='/data/logo.jpg')}}" id="logo_mobile"></img>
            </a>

            <div class="menu-content">
                <a class="links-hidden" href="#">
                    <div id="nav_butt">
                        Home
                    </div>
                </a>
                <a class="links-hidden" href="#">
                    <div id="nav_butt">
                        About
                    </div>
                </a>
                <a class="links-hidden" href="#">
                    <div id="nav_butt">
                        API
                    </div>
                </a>
                <a class="links-hidden" href="#">
                    <div id="nav_butt">
                        Profile
                    </div>
                </a>
            </div>
        </div>
    </nav>
    <div id="text_home1">
        Got Something to share ?
    </div>
    <button class="button3" id="button_home1">
        <div id="text_home2" class="text2">
            Post your own blog
        </div>

        <rect id="rect_home1"></rect>
        <rect id="rect_home2"></rect>
        <rect id="rect_home3"></rect>
    </button>
    <div class="multiple_post" id="mul_post_home1">

        <div id="tag_pop_home" class="pop_up">
            <div class="close_pop">
                Close
            </div>
            <rect id="rect_tag_home">
                <form>
                    <input type="text" id="search_tag_home" class="form1" placeholder="Search tag">
                </form>
                <rect id="hr_tag_home"></rect>
                <div id="button_tag_home"></div>
            </rect>
        </div>

        <div id="sort_pop_home" class="pop_up">
            <rect id="rect_sort_home">
                <button id="button_sort_home1" class="button_inv" name="button_sort_home1" type="submit">
                    <rect id="rect_time_home"></rect>
                    <div id="text_sort_home1" class="text7">
                        By Time
                    </div>
                </button>
                <button id="button_sort_home2" class="button_inv" name="button_sort_home1" type="submit">
                    <rect id="rect_up_home"></rect>
                    <div id="text_sort_home2" class="text7">
                        By upvotes
                    </div>
                </button>
            </rect>
        </div>

        <div class="outer_post" id="out_post_home1">
            <form>
                <input class="form3" id="inp_home1" placeholder="Search">
            </form>
            <!-- <button class="form3" id="button_home2">
                <div class="text1" id="text_home5">
                    Add Tag
                </div>
            </button> -->
            <button class="form3" id="button_home3">
                <div class="text1" id="text_home6">
                    Sort
                </div>
            </button>
        </div>
        {% for post_info in feed %}
        {% set ct = loop.index %}
        <div class="outer_post out_post_home2" id="out_post_home_id-{{ct-1}}">
            <a href="{{url_for('post', post_id=post_info[0])}}">
                <rect class="inner_post inner_post_home">
                    <rect class="profile_bar" id="pbar_home">
                        <rect id="rect_home5"></rect>
                        <div class="text_home7">
                            Posted {{post_info[3]}} ago
                        </div>
                    </rect>
                    <rect id="rect_home4"></rect>
                </rect>
            </a>

            <div class="post_author">
                <a href="{{url_for('profile', username=post_info[4])}}">
                    <div class="text_home8">
                        {{post_info[4]}}
                    </div>
                    <rect id="rect_profile_home"></rect>
                </a>
            </div>

            <form action="{{url_for('follow_account')}}" method="post">
                <button class="button button_inv" type="submit" id="follow_button-{{ct-1}}"
                    name="follow_button-{{ct-1}}">
                    <div class="follow text_home9"></div>
                </button>
            </form>

            <form action="{{url_for('upvote_for_post')}}" method="post">
                <button class="button_inv" type="submit" id="triangle_upvote_button-{{ct-1}}"
                    name="triangle_upvote_button-{{ct-1}}">
                    <div class="triangle-up" id="del_home1"></div>
                </button>
            </form>

            <div class="text1" id="text_home10">
                <div class="upvote">{{post_info[1]}}</div>
            </div>
            <div class="text3 text_home3"></div>
            <rect class="cover_content_home">
                <div class="text4 text_home4"></div>
            </rect>
        </div>
        {% endfor %}
    </div>

    <div class="multiple_post" id="mul_post_home2">
        <div class="outer_post" id="out_post_home4">
            <div id="text_home11" class="text1">
                Global Statistics
            </div>
        </div>

        <div class="outer_post" id="out_post_home5">
            <div id="text_home12" class="text5">
                Top Contributers (Institution)
            </div>
            {% for item in stats[0] %}
                {% set ct = loop.index %}
                <a href="{{url_for('institute', insti_id = item[2])}}">
                    <div class="text6" style="top: {{(10+14*ct)}}%">
                        {{item[1]}}
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="outer_post" id="out_post_home6">
            <div id="text_home12" class="text5">
                Top Contributers (Individual)
            </div>
            {% for item in stats[1] %}
                {% set ct = loop.index %}
                <a href="{{url_for('profile', username = item[1])}}">
                    <div class="text6" style="top: {{(10+14*ct)}}%">
                        {{item[1]}}
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="outer_post" id="out_post_home7">
            <div id="text_home12" class="text5">
                Most liked Institutes
            </div>
            {% for item in stats[2] %}
                {% set ct = loop.index %}
                <a href="{{url_for('institute', insti_id = item[2])}}">
                    <div class="text6" style="top: {{(10+14*ct)}}%">
                        {{item[1]}}
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="outer_post" id="out_post_home8">
            <div id="text_home12" class="text5">
                Most liked Users
            </div>
            {% for item in stats[3] %}
                {% set ct = loop.index %}
                <a href="{{url_for('profile', username = item[1])}}">
                    <div class="text6" style="top: {{(10+14*ct)}}%">
                        {{item[1]}}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="pop_up" id="post_own_home">
        <rect id="rect_main">
        </rect>
        <form action="{{url_for('post_input')}}" method="post" enctype="multipart/form-data">
            <input type="text" id="post_title" name="posttit" placeholder="Title" class="form2"><br>
            <input type="text" id="post_tags" name="posttags" placeholder="Tags" class="form2"><br>
            <rect id="rect_files"></rect>
            <label for="zip-upload_Devang" id="attach_files">+ Attach Zip:</label>
            <input type="file" id="zip-upload_Devang" name="zipfile" accept=".zip" onchange="updateFileName()">
            <span id="selected-file"></span>
            <label for="Image-upload_Devang" id="attach_images">+ Attach Image:</label>
            <input type="file" id="Image-upload_Devang" name="imagefile" accept="image/jpeg, image/png, image/jpg"
                onchange="updateFileName2()">
            <span id="selected-file2"></span>
            <input type="text" id="post_inst" name="postinst" placeholder="Institutes" class="form2" value=""><br>
            <textarea name="post_description" placeholder="Description" class="longInput" id="post_description"
                cols="30" rows="10"></textarea>
            <button type="submit" id="create_post">Post</button><br>
            <rect type="button" id="close_post_home" , style="color: rgb(188, 188, 188);"> Close </rect>
        </form>
    </div>
</body>

</html>