<!DOCTYPE html>
    <head>
        <title>post</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/post.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="{{url_for('header_js',user=user)}}"></script>
        <script src="{{url_for('post_js')}}"></script>
        <script src="{{url_for('main_js')}}" defer></script>
    </head>
    <body  id="body_post">
        <header-component></header-component>
        <div id="mul_tag_post">
            <div class="inner_post" id="rect_tag_post" style="height: {{80+74*(tag_list | length)}}px;">
                <div class="text3" id="text_tag_post">
                    Tags
                </div>
                <!-- <a href="{{url_for('tag')}}">
                    <button class="button5" id="button_post1">
                        Chess Openings
                    </button>
                </a>
                <a href="{{url_for('tag')}}">
                    <button class="button5" id="button_post2">
                        London System
                    </button>
                </a>
                <a href="{{url_for('tag')}}">
                    <button class="button5" id="button_post3">
                        Sicilian defence
                    </button>
                </a>
                <a href="{{url_for('tag')}}">
                    <button class="button5" id="button_post4">
                        Caro Kann defence
                    </button>
                </a> -->
                {% for tag in tag_list %}
                {% set ct = loop.index %}
                <a href="{{url_for('tag', tag_id = tag[0])}}">
                    <button class="button5 button_tag_post" id="button_post{{ct-1}}" style="top: {{74*ct}}px;">
                        {{tag[1]}}
                    </button>
                </a>
                {% endfor %}
            </div>
        </div>

        <div id="post">
            <rect class="inner_post" id="inner_post_post"></rect>

            <rect class="profile_bar" id="pbar_post"></rect>
            <div class="text7" id="text_post1">
                Posted {{post['creation_time']}} ago
            </div>
            <rect id="rect_post1"></rect>
            <a href="{{url_for('profile', username=aname)}}"> 
                <div class="text4" id="text_post2">
                    {{aname}}
                </div>
            </a>
            <form type="POST" action="{{url_for('follow_from_post_page',id = post['author_uniq'], post_id = post['id_uniq'])}}">
                <button class="button_inv" type="submit">
                    <div id="text_post3">
                            {% if follow %}
                            Unfollow
                            {% else %}
                            Follow
                            {% endif %}
                        </div>
                    </button>
                </form>
            <rect id="rect_profile_post"></rect>

            <div id="title_post" class="text1">
                {{post['title']}}
            </div>

            <!-- <video controls id="video_post">
                <source src="{{url_for('static',filename='data/Chess Game.mp4')}}" type="video/mp4">
            </video> -->
            <div id="text_post4" class="text4">
                {{post['content']}}
            </div>
            <img src="" id="image_inside_post">
            <!-- <div id="text_post5" class="text4">
                There are many openings for white in chess, namely the London System, French system,
                Sicilian Najdorf, etc. For beginners, the most popular opening is the London system
                because it is easy to remember and the variations are fairly simple. 
            </div> -->
            <a href = "{{url_for('download', post_id = post['id_uniq'])}}" id="zip_url">
                <div id="zip_name_post"></div>
            </a>
            <div id="footer_post_div">
                <rect id="footer_post"></rect>
                <form action="{{url_for('upvote_from_post_page', post_id = post['id_uniq'])}}" type="POST">
                    <button class="triangle-up2 button_inv" id="del_post" type="submit"></button>
                </form>
                <div class="text9" id="text_post6">
                    {{upvct}}
                </div>
                <img src="{{url_for('static',filename='data/comment.png')}}" id="image_post" class="curs">
                <div class="text9 curs" id="text_post7">
                    Comment
                </div> 
                <form type="POST" action="{{url_for('translate', content = post['content'])}}">
                    <button class="button5" id="button_book_post">
                        translate
                    </button>
                </form>
                <rect id="rect_post2"></rect>
                <div class="text9 curs" id="text_post8">
                    Report
                </div>
            </div>
        </div>

        <div id="comment_section_post" class="pop_up">
            <div class="inner_post" id="rect_comment_post"></div>
            <rect id="line_comment_post"></rect>
            <form>
                <input type="text" class="form3" id="add_comment_post" placeholder="Add Comment">
                <button class="button1" id="button_post_0">
                    Add
                </button>
            </form>

            <div id="mul_comment_post">
                {% for comment in comments %}
                    {% set ct = loop.index %}
                    <div class="comment" id="comment_post{ct}">
                        <a href="{{url_for('profile', username='')}}" class="text1">
                            <rect class="pfp_comment"></rect> 
                            <div class="name_comment">
                                {{comment['author_name']}}
                            </div>
                        </a>
                        <div class="text10" id="comment_time_post1">
                            6hrs ago
                        </div>
                        <div class="name_comment" id="comment_content_post1">
                            Blah Blah Blah Blah
                        </div>
                        <button class="button6" id="button_comment_post1">
                            <div class="triangle-up2" id="triangle_post"></div>
                            <div class="upvote_comment">
                                34
                            </div>
                        </button>
                        <button class="button6" id="button_comment_post2">
                            Reply
                        </button>
                        <button class="button6 curs" id="button_comment_post3">
                            Report
                        </button>

                        <rect id="nest_comment_post1"></rect>

                        <div class="comment" id="comment_post2">
                            <a href="{{url_for('profile', username='')}}" class="text1">
                                <rect class="pfp_comment"></rect> 
                                <div class="name_comment">
                                    Excitedleopard
                                </div>
                            </a>
                            <div class="text10" id="comment_time_post1">
                                6hrs ago
                            </div>
                            <div class="name_comment" id="comment_content_post1">
                                Blah Blah Blah Blah
                            </div>
                            <button class="button6" id="button_comment_post1">
                                <div class="triangle-up2" id="triangle_post"></div>
                                <div class="upvote_comment">
                                    34
                                </div>
                            </button>
                            <button class="button6" id="button_comment_post2">
                                Reply
                            </button>
                            <button class="button6" id="button_comment_post3">
                                Report
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>