<!DOCTYPE html>
    <head>
        <title>profile</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/followers.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/following.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/insti_popup.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/settings.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="{{url_for('header_js',user=user)}}"></script>
        <script src="{{url_for('profile_js')}}"></script>
        <script src="{{url_for('main_js')}}" defer></script>
    </head>
    <body  id="body_profile">
        <header-component></header-component>
        <div id="profile">
            <rect id="pfp_profile"></rect>
            <div id="name_profile">
                Mechan
            </div>
            <div id="follow_profile">
                Follow
            </div>
        </div>

        <div id="info_profile">
            <div class="text7" id="member_profile">
                members since - <div class="text_profile">2/23</div>
            </div>
            <div class="text7" id="last_profile">
                Last visited - <div class="text_profile">2 hr ago</div>
            </div>
            <div class="text7" id="upvote_profile">
                Upvotes - <div class="text_profile">2k+</div>
            </div>
            <div class="text7" id="email_profile">
                email address - 
                <a href="mailt:xyz@gmail.com">
                    <div class="text_profile">
                        xyz@gmail.com
                    </div>
                </a>
            </div>
            <div class="text7" id="org_profile">
                Organisation - 
                <a href="{{url_for('institute')}}">
                    <div class="text_profile">
                        IIT-Delhi
                    </div>
                </a>
            </div>
            <div class="text7" id="web_profile">
                website - 
                <a href="https://www.meechan.com">
                    <div class="text_profile">
                        www.meechan.com
                    </div>
                </a>
            </div>
        </div>

        <div id="option_profile">
            <rect id="rect_profile1"></rect>
            <button class="rect_option_profile" id="rect_option_profile1">
            <div class="text8" id="history_profile">
                History
            </div>
            </button>
            <button class="rect_option_profile" id="rect_option_profile2">
            <div class="text8" id="setting_profile">
                Settings
            </div>
            </button>
            <button class="rect_option_profile" id="rect_option_profile3">
            <div class="text8" id="bookmark_profile">
                Bookmarks
            </div>
            </button>
            <button class="rect_option_profile" id="rect_option_profile4">
            <div class="text8" id="insti_profile">
                Institutions
            </div>
            </button>
            <button class="rect_option_profile" id="rect_option_profile5">
            <div class="text8" id="following_profile">
                Following
            </div>
            </button>
            <button class="rect_option_profile" id="rect_option_profile6">
            <div class="text8" id="follower_profile">
                Followers
            </div>
            </button>
        </div>

        <div class = "pop_up_insti pop_up" id="Insti_popup">
            <rect id="rect_main_ins">
                <div class = "text1_ins">
                    Institutions
                </div>
                <a href = "{{url_for('create_institution')}}">
                    <button type="button", id = "create_ins">Create Institution</button>
                </a>
                <hr class = "line_ins">
                <a href="profile.html">
                    <rect id = "profile_rect_ins">
                        <rect id = "profile_photo_ins"></rect>
                        <rect id = "profile_name_ins">
                            IIT Delhi
                        </rect>
                    </rect>
                </a>
                <rect type = "button" id = "remove_ins"> Remove </rect>
            </rect>
            <button type="button", id = "close_ins">Close</button>
        </body>
        </div>

        <div class="pop_up_followers pop_up" id="followers_pop">
        <rect id="rect_main_followers">
            <div class = "text1_ers">
                Followers
            </div>
            <hr class = "line_ers">
            <a href="profile.html">
                <rect id = "profile_rect_ers">
                    <rect id = "profile_photo_ers"></rect>
                    <rect id = "profile_name_ers">
                        Excitedleopard
                    </rect>
                </rect>
            </a>
            <rect type = "button" id = "remove_follower"> Remove </rect>
        </rect>
        <button type="button", id = "close_followers">Close</button>
        </div>

        <div class="pop_up_following pop_up" id="following_pop">
        <rect id="rect_main_following">
            <div class = "text1_ing">
                Following
            </div>
            <hr class = "line_ing">
            <a href="profile.html">
                <rect id = "profile_rect_ing">
                    <rect id = "profile_photo_ing"></rect>
                    <rect id = "profile_name_ing">
                        Excitedleopard
                    </rect>
                </rect>
            </a>
            <rect type = "button" id = "remove_following"> Remove </rect>
        </rect>
        <button type="button", id = "close_following">Close</button>
        </div>

        <div id="interests">
            <div class="multiple_post" id="interest_rect_profile">
                <div class="text4" id="interest_text_profile">
                    Interests
                </div>
                <a href="{{url_for('tag')}}">
                    <button class="button4" id="button_profile1">Chemistry</button>
                </a>
                <a href="{{url_for('tag')}}">
                    <button class="button4" id="button_profile2">Physics</button>
                </a>
                <a href="{{url_for('tag')}}">
                    <button class="button4" id="button_profile3">Linux</button>
                </a>
                <a href="{{url_for('tag')}}">
                    <button class="button4" id="button_profile4">Chess</button>
                </a>
                <a href="{{url_for('tag')}}">
                    <button class="button4" id="button_profile5">Stock Market</button>
                </a>
                <a href="{{url_for('tag')}}">
                    <button class="button4" id="button_profile6">Computer Science</button>
                </a>
                <a href="{{url_for('tag')}}">
                    <button class="button4" id="button_profile7">Cosmology</button>
                </a>
            </div>
        </div>
        <div id="div_main_set" class="pop_up">
            <rect id="rect_main_set">
                <div class = "text1_set">
                    Settings
                </div>
                <!-- <button type="button", id = "create_ins">Create Institution</button> -->
                <hr class = "line_set">

                <div class = "Profile_name_set">
                    Excitedleopard
                </div>
                <button type="button", id = "change_pic_set">Change Profile Photo</button>

                <form>
                    <img id = "rect_profile_set" src=""></img>
                    <label id = "text_profile_set">
                        <input type="file" onchange="previewFile()" accept="image/png, image/jpeg, image/jpg" name="image_profile_set" value="{{image}}">
                        Add Profile Photo
                    </label><br>
                    <input type="password" id="old_pass_set" name="old_pass_set" placeholder="Old Password" class="form1" value=""><br>
                    <input type="password" id="new_pass_set" name="new_pass_set" placeholder="New Password" class="form1" value="">
                    <input type="password" id="confirm_pass_set" name="confirm_pass_set" placeholder="Confirm Password" class="form1" value=""><br>

                    <input type="text" id="username_set" placeholder="Username" class="form1" name="username_set" value="{{Username}}"><br>

                    <input type="email" id="email_set" placeholder="Email Adress" class="form1" name="email_set" value="{{email}}"><br>

                    <div class = "some_text_set">
                        Additional Information
                    </div>
                    <input type="text" id="country_set" placeholder="Country" class="form1" name="country_set" value="{{country}}">
                    <input type="text" id="state_set" placeholder="State" class="form1" name="state_set" value="{{state}}">
                    <input type="text" id="city_set" placeholder="City" class="form1" name="city_set" value="{{city}}"><br>
                    <input type="text" id="web_set" placeholder="Website Address" class="form1" name="web_set" value="{{website}}">
                    <input type="text" id="git_set" placeholder="Github Handle" class="form1" name="git_set" value="{{git}}"><br>
                    <input type="text" id="org_set" placeholder="Organization" class="form1" name="org_set" value="{{org}}"><br>

                    <rect id = "save_discard">
                        <button class="button1" id="save_set" type="submit" name="save_set">
                            <div id="butt_set_1">
                                Save
                            </div>
                        </button>
                        <button class="button1" id="discard_set" type="button" name="discard_set">
                            <div id="butt_set_2">
                                Discard
                            </div>
                        </button>
                        <div class = "vertical"></div>
                    </rect>
                </form>
            </rect>
            <button type="button", id = "close_setting">Close</button>
        </div>
    </body>
</html>