<!DOCTYPE html>
    <head>
        <title>profile</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/followers.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/following.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/insti_popup.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/settings.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="{{url_for('header_js',user=user)}}"></script>
        <script src="{{url_for('profile_js')}}"></script>
        <script src="{{url_for('main_js')}}" defer></script>
    </head>
    <body  id="body_profile">
        <header-component></header-component>
        <div id="profile">
            <rect id="pfp_profile"></rect>
            <div id="name_profile">
                {{profile['name']}}
            </div>
            {% if user['username']!=profile['username'] %}
                <form type="POST" action="{{url_for('follow_from_profile', id = profile['id_uniq'])}}">
                    <button class="button_inv" id="follow_profile" type="submit">
                        {% if profile['isfollow'] %}
                            <div id="unfollow_profile_js">
                                Unfollow
                            </div>
                        {% else %}
                            <div id="follow_profile_js">
                                Follow
                            </div>
                        {% endif %}
                    </button>
                </form>
            {% endif %}
        </div>

        <div id="info_profile">
            <div class="text7" id="member_profile">
                members since - <div class="text_profile">{{profile['membersince']}}</div>
            </div>
            <!-- <div class="text7" id="last_profile">
                Last visited - <div class="text_profile">2 hr ago</div>
            </div> -->
            <div class="text7" id="last_profile">
                Upvotes - <div class="text_profile">{{profile['count']}}</div>
            </div>
            <div class="text7" id="email_profile">
                email address - 
                <a href="mailt:{{profile['email_id']}}">
                    <div class="text_profile">
                        {{profile['email_id']}}
                    </div>
                </a>
            </div>
            <div class="text7" id="org_profile">
                Organisation - 
                    <div class="text_profile">
                        {{profile['organisation']}}
                    </div>
            </div>
            <div class="text7" id="web_profile">
                website - 
                <a href="{{profile['website_address']}}">
                    <div class="text_profile">
                        {{profile['website_address']}}
                    </div>
                </a>
            </div>
        </div>

        <div id="option_profile">
            <rect id="rect_profile1"></rect>
            <!-- <button class="rect_option_profile" id="rect_option_profile1">
            <div class="text8" id="history_profile">
                History
            </div>
            </button> -->
            <!-- <button class="rect_option_profile" id="rect_option_profile2">
            <div class="text8" id="setting_profile">
                Settings
            </div>
            </button> -->
            <!-- <button class="rect_option_profile" id="rect_option_profile3">
            <div class="text8" id="bookmark_profile">
                Bookmarks
            </div>
            </button> -->
            <button class="rect_option_profile" id="rect_option_profile4">
            <div class="text8" id="insti_profile">
                Institutions
            </div>
            </button>
            <button class="rect_option_profile" id="rect_option_profile5">
            <div class="text8" id="following_profile">
                Following
            </div>
            </button>
            <button class="rect_option_profile" id="rect_option_profile6">
            <div class="text8" id="follower_profile">
                Followers
            </div>
            </button>
        </div>

        <div class = "pop_up_insti pop_up" id="Insti_popup">
            <rect id="rect_main_ins">
                <div class = "text1_ins">
                    Institutions
                </div>
                <a href = "{{url_for('create_institution')}}">
                    <button type="button", id = "create_ins">Create Institution</button>
                </a>
                <hr class = "line_ins">
                {% for institute in profile['insti_list'] %}
                    {% set ct = loop.index %}
                    <div id = "profile_rect_ins{{ct}}" style="top: {{70*(ct-1)}}px;" class="profile_rect_ins">
                        <a href="{{url_for('institute', insti_id = institute['id_uniq'])}}">
                            <rect class = "profile_photo_ins"></rect>
                            <rect class = "profile_name_ins">
                                {{institute['name']}}
                            </rect>
                        </a>
                        {% if (user['username']==profile['username']) %}
                            <form action = "{{url_for('remove_insti', insti_id = institute['id_uniq'])}}" type="POST">
                                <button type = "submit" class="button_inv remove_ins"> Remove </button>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            </rect>
            <button type="button", id = "close_ins">Close</button>
        </body>
        </div>

        <div class="pop_up_followers pop_up" id="followers_pop">
        <rect id="rect_main_followers">
            <div class = "text1_ers">
                Followers
            </div>
            <hr class = "line_ers">
            {% for follower in profile['follower_list'] %}
                {% set ct = loop.index %}
                <div id="profile_rect_ers{{ct}}" style="top: {{70*(ct-1)}}px;" class="profile_rect_ers">
                    <a href="{{url_for('profile',username = follower['username'])}}">
                        <rect class = "profile_photo_ers"></rect>
                        <rect class = "profile_name_ers">
                            {{follower['username']}}
                        </rect>
                    </a>
                    {% if (user['username']==profile['username']) %}
                        <form action = "{{url_for('remove_follower', id = follower['id_uniq'])}}" type="POST">
                            <button type = "submit" class="button_inv remove_follower"> Remove </button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </rect>
        <button type="button", id = "close_followers">Close</button>
        </div>

        <div class="pop_up_following pop_up" id="following_pop">
        <rect id="rect_main_following">
            <div class = "text1_ing">
                Following
            </div>
            <hr class = "line_ing">
            {% for following in profile['following_list'] %}
                {% set ct = loop.index %}
                <div id = "profile_rect_ing{{ct}}" style="top: {{70*(ct-1)}}px;" class="profile_rect_ing">
                    <a href="{{url_for('profile', username=following['username'])}}">
                        <rect class = "profile_photo_ing"></rect>
                        <rect class = "profile_name_ing">
                            {{following['username']}}
                        </rect>
                    </a>
                    {% if user['username']==profile['username'] %}
                    <form action = "{{url_for('remove_following', id = following['id_uniq'])}}" type = "POST">
                        <button type = "submit" class="button_inv remove_following"> Remove </button>
                    </form>
                    {% endif %}
                </div>
            {% endfor %}
        </rect>
        <button type="button", id = "close_following">Close</button>
        </div>

        <div id="interests">
            <div class="multiple_post" id="interest_rect_profile" style="height: {{58*(profile['tag_list']|length)+116}}px">
                <div class="text4" id="interest_text_profile">
                    Interests
                </div>
                {% for tag in profile['tag_list'] %}
                    {% set ct = loop.index %}
                    <button class="button4 button_profile1" style="top: {{58*ct}}px">{{tag['name']}}</button>
                {% endfor %}
            </div>
        </div>
        <div id="div_main_set" class="pop_up">
            <rect id="rect_main_set">
                <div class = "text1_set">
                    Settings
                </div>
                <!-- <button type="button", id = "create_ins">Create Institution</button> -->
                <hr class = "line_set">

                <div class = "Profile_name_set">
                    Excitedleopard
                </div>
                <button type="button", id = "change_pic_set">Change Profile Photo</button>

                <form>
                    <img id = "rect_profile_set" src=""></img>
                    <label id = "text_profile_set">
                        <input type="file" onchange="previewFile()" accept="image/png, image/jpeg, image/jpg" name="image_profile_set" value="{{image}}">
                        Add Profile Photo
                    </label><br>
                    <input type="password" id="old_pass_set" name="old_pass_set" placeholder="Old Password" class="form1" value=""><br>
                    <input type="password" id="new_pass_set" name="new_pass_set" placeholder="New Password" class="form1" value="">
                    <input type="password" id="confirm_pass_set" name="confirm_pass_set" placeholder="Confirm Password" class="form1" value=""><br>

                    <input type="text" id="username_set" placeholder="Username" class="form1" name="username_set" value="{{Username}}"><br>

                    <input type="email" id="email_set" placeholder="Email Adress" class="form1" name="email_set" value="{{email}}"><br>

                    <div class = "some_text_set">
                        Additional Information
                    </div>
                    <input type="text" id="country_set" placeholder="Country" class="form1" name="country_set" value="{{country}}">
                    <input type="text" id="state_set" placeholder="State" class="form1" name="state_set" value="{{state}}">
                    <input type="text" id="city_set" placeholder="City" class="form1" name="city_set" value="{{city}}"><br>
                    <input type="text" id="web_set" placeholder="Website Address" class="form1" name="web_set" value="{{website}}">
                    <input type="text" id="git_set" placeholder="Github Handle" class="form1" name="git_set" value="{{git}}"><br>
                    <input type="text" id="org_set" placeholder="Organization" class="form1" name="org_set" value="{{org}}"><br>

                    <rect id = "save_discard">
                        <button class="button1" id="save_set" type="submit" name="save_set">
                            <div id="butt_set_1">
                                Save
                            </div>
                        </button>
                        <button class="button1" id="discard_set" type="button" name="discard_set">
                            <div id="butt_set_2">
                                Discard
                            </div>
                        </button>
                        <div class = "vertical"></div>
                    </rect>
                </form>
            </rect>
            <button type="button", id = "close_setting">Close</button>
        </div>

        <div class="multiple_post" id="mul_post_home1">

            <div id="tag_pop_home" class="pop_up">
                <div class="close_pop">
                    Close
                </div>
                <rect id="rect_tag_home">
                    <form>
                        <input type="text" id="search_tag_home" class="form1" placeholder="Search tag">
                    </form>
                    <rect id="hr_tag_home"></rect>
                    <div id="button_tag_home"></div>
                </rect>
            </div>
    
            <div id="sort_pop_home" class="pop_up">
                <rect id="rect_sort_home">
                    <button id="button_sort_home1" class="button_inv" name="button_sort_home1" type="submit">
                        <rect id="rect_time_home"></rect>
                        <div id="text_sort_home1" class="text7">
                            By Time
                        </div>
                    </button>
                    <button id="button_sort_home2" class="button_inv" name="button_sort_home1" type="submit">
                        <rect id="rect_up_home"></rect>
                        <div id="text_sort_home2" class="text7">
                            By upvotes
                        </div>
                    </button>
                </rect>
            </div>
    
            <div class="outer_post" id="out_post_home1">
                <form>
                    <input class="form3" id="inp_home1" placeholder="Search">
                </form>
                <!-- <button class="form3" id="button_home2">
                    <div class="text1" id="text_home5">
                        Add Tag
                    </div>
                </button> -->
                <button class="form3" id="button_home3">
                    <div class="text1" id="text_home6">
                        Sort
                    </div>
                </button>
            </div>
            {% for post_info in feed %}
            {% set ct = loop.index %}
            <div class="outer_post out_post_home2" id="out_post_home_id-{{ct-1}}">
                <a href="{{url_for('post', post_id=post_info[0])}}">
                    <rect class="inner_post inner_post_home">
                        <rect class="profile_bar" id="pbar_home">
                            <rect id="rect_home5"></rect>
                            <div class="text_home7">
                                Posted {{post_info[3]}} ago
                            </div>
                        </rect>
                        <rect id="rect_home4"></rect>
                    </rect>
                </a>
    
                <div class="post_author">
                    <a href="{{url_for('profile', username=post_info[4])}}">
                        <div class="text_home8">
                            {{post_info[4]}}
                        </div>
                        <rect id="rect_profile_home"></rect>
                    </a>
                </div>
    
                <form action="{{url_for('follow_account')}}" method="post" style="display: none;">
                    <button class="button button_inv" type="submit" id="follow_button-{{ct-1}}"
                        name="follow_button-{{ct-1}}">
                        <div class="follow text_home9"></div>
                    </button>
                </form>
    
                <form action="{{url_for('upvote_for_post_from_profile', count=ct-1)}}" type="post">
                    <button class="button_inv" type="submit" id="triangle_upvote_button-{{ct-1}}"
                        name="triangle_upvote_button-{{ct-1}}">
                        <div class="triangle-up" id="del_home1"></div>
                    </button>
                </form>
    
                <div class="text1" id="text_home10">
                    <div class="upvote">{{post_info[1]}}</div>
                </div>
                <div class="text3 text_home3"></div>
                <rect class="cover_content_home">
                    <div class="text4 text_home4"></div>
                </rect>
            </div>
            {% endfor %}
        </div>
    

    </body>
</html>