.apis {
  position: absolute;
  top: 124px;
  left: 43px;
  font-size: 60px;
}
#rect_one {
  position: absolute;
  width: 156px;
  height: 45px;
  left: 43px;
  top: 234px;
  
  background: #03001C;
  border-radius: 15px;
}

#Intro {
  position: absolute;
  width: 139px;
  height: 38px;
  left: 51px;
  top: 236px;
  
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  
  color: #ffffff;
  
}

#rect_two {
  position: absolute;
  width: 156px;
  height: 45px;
  left: 260px;
  top: 234px;
  
  background: #03001C;
  border-radius: 15px;
}

#Meth {
  position: absolute;
  width: 99px;
  height: 38px;
  left: 288px;
  top: 236px;
  
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  
  color: #FFFFFF;
}

#rect_three {
  position: absolute;
  width: 156px;
  height: 45px;
  left: 486px;
  top: 236px;
  
  background: #03001C;
  border-radius: 15px;
}

#Obj {
  position: absolute;
  width: 88px;
  height: 38px;
  left: 520px;
  top: 236px;
  
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  
  color: #FFFFFF;
}
.rectangle-div {
  position: absolute;
  top: 236px;
  left: 288px;
}
.objects,
.rectangle-div {
  left: 520px;
}
.rectangle-div {
  top: 341px;
  left: 43px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-100);
  border-radius: 20px;
  border: 2px solid var(--color-paleturquoise);
  box-sizing: border-box;
  width: 1355px;
  height: 1419px;
}
.with-synergy-api {
  margin: 0;
}
.if-status-is-failed-then-com {
  margin-bottom: 0;
}
.status-is-either-ok-or-fail {
  margin: 0;
  padding-left: var(--padding-21xl);
}
.httpssynergycomsettingsa1 {
  text-decoration: underline;
}
.httpssynergycomsettingsa {
  color: inherit;
}
.with-synergy-api-container {
  position: absolute;
width: 1294px;
height: 1179px;
left: 77px;
top: 361px;

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;

color: #FFFFFF;
}
.api-intro {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 2048px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-abel);
}

