#body_api_obj{
    width: 100%;
    height: 100%;
  }
  
  #api_obj{
  
  position: absolute;
  width: 500px;
  height: 76px;
  left: 43px;
  top: 124px;
  
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 76px;
  
  color: #FFFFFF;
  }
  
  #dabba_obj{
    box-sizing: border-box;
  
  position: absolute;
  width: 1030px;
  height: 1300px;
  left: 43px;
  top: 341px;
  
  background: #03001C;
  border: 2px solid #B6EADA;
  border-radius: 20px;
  }
  
  #rect_intro_api{
    position: absolute;
  width: 156px;
  height: 45px;
  left: 43px;
  top: 245px;
  
  background: #03001C;
  border-radius: 15px;
  }
  
  #intro{
    position: absolute;
  width: 139px;
  height: 38px;
  left: 51px;
  top: 250px;
  
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  
  color: #FFFFFF;
  }
  
  #rect_methods_api{
    position: absolute;
  width: 156px;
  height: 45px;
  left: 260px;
  top: 245px;
  
  background: #03001C;
  border-radius: 15px;
  }
  
  #meth{
    position: absolute;
  width: 99px;
  height: 38px;
  left: 288px;
  top: 250px;
  
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  
  color: #FFFFFF;
  }
  
  #rect_objects_api{
    position: absolute;
  width: 156px;
  height: 45px;
  left: 486px;
  top: 245px;
  
  background: #03001C;
  border-radius: 15px;
  }
  
  #obj{
    position: absolute;
    width: 88px;
    height: 38px;
    left: 520px;
    top: 250px;
    
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #m1{
    position: relative;
  width: 200px;
  height: 100px;
  top: 60px;
  left: 50px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 38px;
  
  color: #FFFFFF;
  }
  
  #arg1{
    position: relative;
    width: 600px;
    height: 40px;
    top: 50px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #ret1{
    position: relative;
    width: 800px;
    height: 20px;
    top: 60px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #m2{
    position: relative;
  width: 400px;
  height: 100px;
  top: 150px;
  left: 50px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 38px;
  
  color: #FFFFFF;
  }
  
  #arg2{
    position: relative;
    width: 600px;
    height: 40px;
    top: 140px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #ret2{
    position: relative;
    width: 800px;
    height: 20px;
    top: 150px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  
  #m3{
    position: relative;
  width: 400px;
  height: 100px;
  top: 240px;
  left: 50px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 38px;
  
  color: #FFFFFF;
  }
  
  #arg3{
    position: relative;
    width: 600px;
    height: 40px;
    top: 230px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #ret3{
    position: relative;
    width: 800px;
    height: 20px;
    top: 240px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  
  #m4{
    position: relative;
  width: 400px;
  height: 100px;
  top: 330px;
  left: 50px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 38px;
  
  color: #FFFFFF;
  }
  
  #arg4{
    position: relative;
    width: 600px;
    height: 40px;
    top: 320px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #ret4{
    position: relative;
    width: 800px;
    height: 20px;
    top: 330px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  
  #m5{
    position: relative;
  width: 400px;
  height: 100px;
  top: 420px;
  left: 50px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 38px;
  
  color: #FFFFFF;
  }
  
  #arg5{
    position: relative;
    width: 600px;
    height: 40px;
    top: 410px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #ret5{
    position: relative;
    width: 800px;
    height: 20px;
    top: 420px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #m6{
    position: relative;
  width: 100px;
  height: 100px;
  top: 510px;
  left: 50px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 38px;
  
  color: #FFFFFF;
  }
  
  #arg6{
    position: relative;
    width: 400px;
    height: 40px;
    top: 500px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #ret6{
    position: relative;
    width: 400px;
    height: 20px;
    top: 510px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  
  #m7{
    position: relative;
  width: 100px;
  height: 100px;
  top: 600px;
  left: 50px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 38px;
  
  color: #FFFFFF;
  }
  
  #arg7{
    position: relative;
    width: 400px;
    height: 40px;
    top: 590px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #ret7{
    position: relative;
    width: 400px;
    height: 20px;
    top: 600px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #m8{
    position: relative;
  width: 100px;
  height: 100px;
  top: 690px;
  left: 50px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 38px;
  
  color: #FFFFFF;
  }
  
  #arg8{
    position: relative;
    width: 400px;
    height: 40px;
    top: 680px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #ret8{
    position: relative;
    width: 400px;
    height: 20px;
    top: 690px;
    left: 300px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #dabba_list_obj{
    box-sizing: border-box;
  
  position: absolute;
  width: 311px;
  height: 320px;
  left: 1130px;
  top: 341px;
  
  background: #03001C;
  border: 2px solid #B6EADA;
  border-radius: 20px;
  }
  #l1{
    position: relative;
    width: 200px;
    height: 20px;
    top: 30px;
    left: 20px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  #l2{
    position: relative;
    width: 200px;
    height: 20px;
    top: 60px;
    left: 20px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  #l3{
    position: relative;
    width: 200px;
    height: 20px;
    top: 90px;
    left: 20px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  #l4{
    position: relative;
    width: 200px;
    height: 20px;
    top: 120px;
    left: 20px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  #l5{
    position: relative;
    width: 200px;
    height: 20px;
    top: 150px;
    left: 20px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  #l6{
    position: relative;
    width: 200px;
    height: 20px;
    top: 180px;
    left: 20px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  
  #l7{
    position: relative;
    width: 200px;
    height: 20px;
    top: 210px;
    left: 20px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }
  #l8{
    position: relative;
    width: 200px;
    height: 20px;
    top: 240px;
    left: 20px;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    color: #FFFFFF;
  }