#body_home {
    position: absolute;
    width: 100%;
    height: 100%;
}

#nav_border{
    visibility: hidden;
}

#desktop_header{
    visibility: visible;
}
#text_home1 {
    position: absolute;
    width: 24%;
    height: 10%;
    left: 77%;
    right: 0.5%;
    top: 10vw;
    
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    /* line-height: 64px; */
    text-decoration-line: underline;
    color: #FFFFFF;
}

#button_home1 {
    width: 15vw;
    height: 3vw;
    left: 77%;
    top: 20vw;
    border-radius: 25px;
}

#text_home2 {
    width: 96%;
    height: 100%;
    left: 5%;
    text-align: left;
    top: 0.5vw;
    font-size: 1.4vw;
    /* line-height: 34px; */
}

#rect_home1 {
    position: absolute;
    width: 10%;
    height: 0px;
    right: 10%;
    top: 49%;
    
    border: 2.0px solid #03001C;
    border-radius: 15%;
}

#rect_home2 {
    position: absolute;
    width: 6%;
    height: 0px;
    right: 9%;
    top: 40%;
    
    border: 2.0px solid #03001C;
    border-radius: 25px;
    transform: rotate(45deg);
}

#rect_home3 {
    position: absolute;
    width: 6%;
    height: 0px;
    right: 9%;
    top: 60%;
    
    border: 2.0px solid #03001C;
    border-radius: 25px;
    transform: rotate(-45deg);
}

#mul_post_home1 {
    width: 71vw;
    /* width: 903px; */
    /* left: 60px; */
    left: 3vw;
    top: 10vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

#mul_post_home1 {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#mul_post_home1::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


#out_post_home1 {
    /* width: 100%; */
    height: 4.5%;
    left: 2%;
    top: 1%;
    right: 2%;
}

#inp_home1 {
    width: 60%;
    height: 70%;
    left: 1%;
    top: 15%;
}

#button_home2 {
    width: 15%;
    height: 70%;
    left: 65%;
    top: 15%;
}

#text_home5 {
    width: 98%;
    left: 1%;
    right: 1%;
    top: 20%;
}

#button_home3 {
    width: 10%;
    height: 70%;
    left: 85%;
    top: 15%;
}

#text_home6 {
    width: 90%;
    left: 5%;
    right: 5%;
    top: 20%;
}

.out_post_home2 {
    position: absolute;
    width: 96%;
    left: 2%;
}

.inner_post_home {
    width: 98%;
    left: 1%;
    top: 2%;
}

#pbar_home {
    width: 100.5%;
    height: 50px;
    left: -2px;
    top: -2px;
}

.text_home7 {
    position: absolute;
    width: 30%;
    height: 100%;
    right: 5%;
    top: 20%;
    font-size: 125%;
    text-align: right;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;    
    color: #FFFFFF;
}

#rect_home5 {
    position: absolute;
    width: 0px;
    height: 100%;
    left: 19%;
    top: 0%;
    
    border: 1.5px solid #B6EADA;
}

.text_home8 {
    position: absolute;
    width: 10%;
    height: 100%;
    left: 10%;
    top: 4%;
    font-size: 125%;
    text-align: left;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;    
    color: #FFFFFF;
}

.text_home9 {
    position: absolute;
    width: 5%;
    height: 8%;
    left: 22%;
    top: 4%;
    
    font-family: 'Abel';
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
    color: #008DFF;
    cursor: pointer;
}

#rect_profile_home {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 4%;
    top: 3%;
    border-radius: 20px;
    background: #D9D9D9;
}

#del_home1 {
    left: 24px;
    bottom: 23px;
}

#text_home10 {
    width: 24px;
    height: 29px;
    left: 59px;
    bottom: 24px;
    font-size: 23px;
    line-height: 29px;
}

.text_home3 {
    position: absolute;
    width: 90%;
    /* height: 7%; */
    left: 40px;
    top: 82px;
    font-family: 'Abel';
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 25px;
    color: #ffffff;
}

#img_start1{
    box-sizing: border-box;

    position: absolute;
    width: 794px;
    height: 444px;
    left: 35px;
    top: 127px;
    border: 1px solid #B6EADA;
}

.text_home4 {
    /* width: 778px; */
    position: absolute;
    width: 99%;
    /* height: 7%; */
    left: 1%;
    top: 1%;
    font-family: 'Abel';
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 25px;
    color: #ffffff;
}


#rect_home4 {
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0%;
    bottom: 50px;
    
    border: 1px solid #B6EADA;
}

#out_post_home3 {
    width: 878px;
    height: 858px;
    left: 12px;
    top: 980px;
}

#out_post_home40 {
    width: 878px;
    height: 858px;
    left: 12px;
    top: 1852px;
}

#mul_post_home2 {
    position: absolute;
    width: 21%;
    height: 70vw;
    left: 77%;
    top: 25vw;
}

#out_post_home4{
    width: 94%;
    height: 6%;
    left: 3%;
    top: 1.3%;
}

#text_home11 {
    width: 90%;
    height: 98%;
    left: 5%;
    top: 19%;
    font-size: 2vw;
    text-align: center;
}

#out_post_home5{
    width: 94%;
    height: 22%;
    left: 3%;
    top: 9%;
}

#text_home12 {
    width: 90%;
    height: 70%;
    left: 5%;
    text-align: center;
    font-size: 1.5vw;
    text-decoration-line: underline;
    top: 4%;
}

.text6{
    position: absolute;
    width: 90%;
    left: 5%;
    height: 10%;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25vw;
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;
}

#out_post_home6{
    width: 94%;
    height: 20%;
    left: 3%;
    top: 32%;
}

#out_post_home7{
    width: 94%;
    height: 22%;
    left: 3%;
    top: 53%;
}

#out_post_home8{
    width: 94%;
    height: 22%;
    left: 3%;
    top: 76%;
}

#tag_pop_home {
    position: absolute;
    left: 680px;
    top: 60px;
    z-index: 100;
}

#rect_tag_home {
    position: absolute;
    width: 218px;
    left: 0px;
    top: 31px;
    
    background: #03001C;
    border-radius: 15px;
}

#search_tag_home {
    width: 166px;
    height: 23px;
    left: 6px;
    top: 5px;
    border-radius: 15px;
}

#hr_tag_home {
    position: absolute;
    width: 218px;
    height: 0px;
    left: 0px;
    top: 35px;
    
    border: 1px solid #B6EADA;
}

.buttons_tag_home {
    position: absolute;
    width: 102px;
    height: 31px;
    left: 58px;
    
    background: rgba(143, 0, 255, 0.75);
    border-radius: 15px;
    border: none;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
    color: #FFFFFF;
}

.cross_tag_home {
    position: absolute;
    height: 13px;
    width: 13px;
    left: 33px;
    cursor: pointer;
}

#sort_pop_home {
    position: absolute;
    left: 750px;
    top: 80px;
    z-index: 100;
}

#rect_sort_home {
    box-sizing: border-box;
    position: absolute;
    width: 121px;
    height: 92px;
    left: 0px;
    top: 0px;
    
    background: #03001C;
    border: 1px solid #B6EADA;
    border-radius: 10px;
}

#button_sort_home1 {
    position: absolute;
    box-sizing: border-box;

    width: 111px;
    height: 30px;
    left: 5px;
    top: 12px;
}

#button_sort_home2 {
    position: absolute;
    box-sizing: border-box;

    width: 111px;
    height: 30px;
    left: 5px;
    top: 50px;
}

#rect_time_home {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 5px;
    top: 11px;
    
    background: #FFFFFF;
    border-radius: 4px;

    display: none;
}

#rect_up_home {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 5px;
    top: 13px;
    
    background: #FFFFFF;
    border-radius: 4px;

    display: none;
}

#text_sort_home1 {
    width: 60px;
    height: 25px;
    left: 22px;
    top: 3px;
}

#text_sort_home2 {
    width: 84px;
    height: 25px;
    left: 22px;
    top: 5px;
}

.follow{
    cursor: pointer;
}

.cover_content_home {
    position: absolute;
    width: 92%;
    left: 35px;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media all and (max-width: 1000px){
    #desktop_header{
        visibility: hidden;
    }
    #nav_border{
        visibility:visible;
        border: 1.0px solid #B6EADA;
    }
    .menu-btn {
        background-color: #040008;
        color: white;
        padding: 16px;
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Abel';
        border: none;
     }
     .dropdown-menu {
        position: relative;
        left: 0%;
     }
     .menu-content {
        display: none;
        position: absolute;
        background-color: #03001C;
        min-width: 160px;
        font-family: 'Abel';
        z-index: 1;
     }
     nav{
        background-color: #03001C;
     }
     .links,.links-hidden{
        display: inline-block;
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        font-family: 'Abel';
        font-size: 20px;
        font-weight: bold;
     }
     .links-hidden{
        display: block;
        font-family: 'Abel';
     }
     .links{
        display: inline-block;
     }
     .links-hidden:hover{
        background-color: #B6EADA;
        font-family: 'Abel';
        color: #03001C;
     }
     .dropdown-menu:hover .menu-content {
        display: block;
     }
     .dropdown-menu:hover .menu-btn {
        background-color: #B6EADA;
        color: #03001C;
     }
     
     #drop_butt{
        width: 70px;
        font-size: 25px;
     }
     
     #nav_butt{
        font-family: 'Abel';
     }


     #rect_search_mobile {
        box-sizing: border-box;
    
        position: absolute;
        width: 30%;
        height: 42px;
        right: 20px;
        top: 12px;
        
        background: rgba(3, 3, 3, 0.75);
        border: 1px solid #B6EADA;
        border-radius: 10px;
    
        font-family: 'Abel';
        font-style: normal;
        font-weight: 400;
        font-size: 115%;
        line-height: 25px;
        padding-left: 54px;
        padding-right: 9px;
        
        color: #FFFFFF;    
    }
    
    #magnifying_mobile{
        position: absolute;
        width: 20px;
        height: 25px;
        left: 70%;
        top: 30%;
    }

    #rect_search_mobile::placeholder {
        font-family: 'Abel';
        font-style: normal;
        font-weight: 400;
        font-size: 90%;
        line-height: 25px;
        text-align: center;
        color: #ffffff;    
    }
    
    #logo_mobile {
        position: absolute;
        width: 130px;
        height: 40px;
        left: 20%;
        top: 12px;
    }
    
    #search_result_rect_mobile {
        width: 269px;
        left: 889px;
        top: 82px;
        height: 50px;
        z-index: 10000;
    }

    #mul_post_home1 {
        position: relative;
        width: 94%;
        left: 3vw;
        top: -5%;
        height: 75% !important;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #text_home1 {
        position: relative;
        width: 80%;
        height: 10%;
        left: 7%;
        right: 30%;
        top: 90%;
        
        font-family: 'Abel';
        font-style: normal;
        font-weight: 400;
        font-size: 150%;
        /* line-height: 64px; */
        text-decoration-line: underline;
        color: #FFFFFF;
    }

    #button_home1 {
        position: relative;
        width: 120px;
        height: 20px;
        left: 7%;
        top: 85%;
        border-radius: 25px;
    }

    #text_home2 {
        position: relative;
        width: 96%;
    height: 100%;
    left: 5%;
    text-align: center;
    top: 10%;
    font-size: 100%;
    /* line-height: 34px; */
    }
    
    #rect_home1 {
        display: none;
    }
    
    #rect_home2 {
        display: none;
    }
    
    #rect_home3 {
        display: none;
    }

    #out_post_home1 {
        /* position: relative; */
        /* width: 100%; */
        height: 10%;
        left: 2%;
        top: 1%;
        right: 2%;
    }
    
    #inp_home1 {
        width: 60%;
        height: 80%;
        left: 1%;
        top: 10%;
    }
    
    #button_home2 {
        width: 15%;
        height: 70%;
        left: 65%;
        top: 15%;
    }
    
    #text_home5 {
        /* position: relative;
        width: 100%;
        left: 5%;
        top: 3%;
        font-size: 60%; */
        width: 10vw;
        left: 2vw;
        right: 2vw;
        top: 0.5vw;
        height: 1vw;
        font-size: 2vw;
        vertical-align: middle;
    }
    
    #button_home3 {
        width: 10%;
        height: 70%;
        left: 85%;
        top: 15%;
    }

    #text_home6 {
        width: 10vw;
        left: -0.2vw;
        right: 1vw;
        top: 0.8vw;
        font-size: 2vw;
    }

    #mul_post_home2 {
        /* position: absolute;
        width: 21%;
        height: 70vw;
        left: 77%;
        top: 25vw; */
        display: none;
    }

    #rect_profile_home {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 20px;
        top: 30px;
        /* top: 3vw; */
        border-radius: 15px;
        background: #D9D9D9;
    }

    .text_home7 {
        position: absolute;
        width: 30%;
        height: 100%;
        right: 7%;
        top: 10%;
        font-size: 80%;
        text-align: right;
        font-family: 'Abel';
        font-style: normal;
        font-weight: 400;    
        color: #FFFFFF;
    }

    .text_home8 {
        position: absolute;
        width: 30px;
        height: 30px;
        left:55px;
        top: 4%;
        font-size: 100%;
        text-align: left;
        font-family: 'Abel';
        font-style: normal;
        font-weight: 400;    
        color: #FFFFFF;
    }

    #rect_home5 {
        position: absolute;
        width: 0px;
        height: 100%;
        left: 105px;
        top: 0%;
        border: 1.5px solid #B6EADA;
    }

    .text_home9 {
        position: absolute;
        width: 5%;
        height: 8%;
        left: 120px;
        top: 28px;
        
        font-family: 'Abel';
        font-style: normal;
        text-align: left;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        
        color: #008DFF;
        cursor: pointer;
    }



}

#searchPost_result_rect{
    z-index: 10000;
    position: absolute;
    left: 15px;
    top: 70px;
    width: 563px;
}