#body_insti {
    height: 3072px;
}

#pfp_profile_insti {
    position: absolute;
    width: 175px;
    height: 175px;
    left: 118px;
    top: 148px;
    border-radius: 87.5px;

    background: #D9D9D9;
}

#member_profile_insti {
    width: 204px;
    height: 25px;
    left: 362px;
    top: 249px;    
}

#last_profile_insti{
    width: 181px;
    height: 25px;
    left: 362px;
    top: 274px;
}

#upvote_profile_insti{
    width: 108px;
    height: 25px;
    left: 362px;
    top: 299px;
}

#email_profile_insti{
    width: 268px;
    height: 25px;
    left: 850px;
    top: 249px;
}

#org_profile_insti{
    width: 268px;
    height: 25px;
    left: 850px;
    top: 274px;
}

#web_profile_insti{
    width: 233px;
    height: 25px;
    left: 850px;
    top: 299px;
    
}

#top_rect_insti {
    width: 278px;
    height: 529px;
    left: 1050px;
    top: 390px;
}

#top_text_insti {
    width: 158px;
    height: 32px;
    left: 60px;
    top: 4px;
}

#top_ol_insti {
    width: 164px;
    left: 54px;
    top: 65px;   
    padding-left: 0px;
    margin: 0px;
}

.pfp_insti {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 16px;
    border-radius: 20px;
    
    background: #D9D9D9;
}

.name_text_insti {
    position: relative;
    width: 59px;
    height: 25px;
    left: 90px;
    top: 7px;
}